html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e8f0;
}

section,
header {
  scroll-snap-align: start;
}

.about-container,
.skills-container,
.education-container,
.projects-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
